{% extends "dashboard/sidebar.html"%}
{% load static %}
{% block mydashboard %}

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'recruiter/css/recruiter_create_job_detail.css' %}">
    <div class="job-details-container">
      <h2>{{ job.title }}</h2>
      {% if job.recruiter.company.logo %}
          <img src="{{ job.recruiter.company.logo.url }}" alt="{{ job.recruiter.company.name }} logo" class="company-logo"/>
      {% endif %}
      <h3>{{ job.recruiter.company.name }}</h3>
      <p><strong>Location:</strong> {{ job.recruiter.company.location }}</p>
      <p><strong>Qualifications:</strong> {{ job.qualifications }}</p>
      <p><strong>Job Description:</strong></p>
      <p>{{ job.description }}</p>
      <p><strong>Application Deadline:</strong> {{ job.deadlines}}</p>
      {% if user.is_candidate %}
        <a href="{% url 'application:apply_job' job.id %}">
          <button type="submit" class="btn btn-primary w-50">Apply</button>
        </a>
      {% endif %}
      {% if user.is_recruiter %}
        <a href="{% url 'job:create_job' %}">
          <button type="submit" class="btn btn-primary w-50">Create Job</button>
        </a>
      {% endif %}
    </div>

{% endblock %}