{% extends "dashboard/sidebar.html" %}
{% load static %}
{% block mydashboard %}
    <div class="container mt-5">
        <h2 class="text-center">Edit Profile</h2>
        <div class="card">
            <div class="card-body">
                {%load crispy_forms_tags %} 
                {% block content%}
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-success">Save Changes</button>
                    <a href="{% url 'recruiter:profile' %}" class="btn btn-secondary">Cancel</a>
                </form>
                {% endblock content %}
            </div>
        </div>
    </div>
{% endblock %}